@()

@main("Nine men's morris") {

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
<script src="@routes.Assets.versioned("components/navigation-bar-component/navigation-bar.component.js")" ></script>
<script src="@routes.Assets.versioned("components/history-component/history.component.js")" ></script>

<div id="navigation-bar">
    <nav-bar></nav-bar>
</div>

<div id="history-component">
    <history-component></history-component>
    <div class="textarea justify">
    </div>
</div>

<figure id="gallery">
    <figcaption><b>Gallery:</b></figcaption>
    <figure>
        <img src=@routes.Assets.versioned("images/Mill_history.png") alt="Nine Men’s Morris - Croatia">
        <figcaption>Nine Men’s Morris, carved on the floor of the platform between the Bell Tower and the Dome of Diocletian’s Mausoleum in Split, Croatia. Photo: Helen Goodchild, June 29, 2009.</figcaption>
    </figure>

    <figure>
        <img src=@routes.Assets.versioned("images/Mill_history_2.png") alt="Nine Men’s Morris - Turkey">
        <figcaption>Nine Men’s Morris carved into stone in the ruins of Byzantine church, St. John’s Basilica, Selçuk, Turkey. Photo: Tolka Rover, October 22, 2009.</figcaption>
    </figure>

    <figure>
        <img src=@routes.Assets.versioned("images/Mill_history_3.png") alt="Nine Men’s Morris - Russia">
        <figcaption>Wooden Nine Men’s Morris from medieval Velikiy Novgorod, Russia. Novgorod State United Museum. Photo: Professor Michael Fuller, St. Louis Community College, 2006.</figcaption>
    </figure>

    <figure>
        <img src=@routes.Assets.versioned("images/Mill_history_4.png") alt="Nine Men’s Morris - Greece">
        <figcaption>Nine Men’s Morris in Hadrian’s Library, Athens, Greece. Photo taken: March 4, 2011.</figcaption>
    </figure>

    <figure>
        <img src=@routes.Assets.versioned("images/Mill_history_5.png") alt="Nine Men’s Morris - England">
        <figcaption>Nine Men’s Morris on the south wall window ledge of the Church of St. John the Baptist in Northorpe Lincolnshire, England. Photo taken: June 8, 2017.</figcaption>
        /figure>
    </figure>
    <br> <br> <br>
}