@()

@main("Nine Men's Morris") {

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
<script src="@routes.Assets.versioned("components/rules-component/rules.component.js")" ></script>
<script src="@routes.Assets.versioned("components/navigation-bar-component/navigation-bar.component.js")" ></script>
<script src="@routes.Assets.versioned("components/start-game-component/start-game.component.js")" ></script>


<div id="navigation-bar">
    <nav-bar></nav-bar>
</div>

<div id="startgame">
    <start-game></start-game>
</div>

<div id="rules">
    <rules></rules>
</div>

}