@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    @* <head>*@
    @* *@@* Here's where we render the page title `String`. *@
    @* <title>@title</title>*@
    @* <!-- Bootstrap CSS -->*@
    @* <meta charset="utf-8">*@
    @* <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">*@
    @* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">*@

    @* <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" >*@
    @* <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" >*@
    @* <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/Mill2.png")">*@

    @* *@@* <script src="@routes.Assets.versioned("javascripts/popper.js")" type="text/javascript"></script>*@
    @* *@@* <script src="@routes.Assets.versioned("javascripts/bootstrap.bundle.js")" ></script>*@
    @* *@@* <script src="@routes.Assets.versioned("javascripts/bootstrap.js")" ></script>*@
    @* *@@* <script src="@routes.Assets.versioned("javascripts/bootstrap.bundle.min.js")" ></script>*@
    @* *@@* <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" ></script>*@
    @* *@@* <script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")" type="text/javascript"></script>*@
    @* <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>*@
    @* <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">*@

    @* <!-- Bootstrap CSS on CDN server, set contentSecurityPolicy in application.conf to allow these URLs-->*@
    @* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">*@
    @* <!-- Bootstrap CSS -->*@
    @* <meta charset="utf-8">*@
    @* <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">*@
    @* <meta http-equiv="Content-Security-Policy" content="default-src 'self'">*@
    @* </head>*@
    @* <body>*@
    @* *@@* And here's where we render the `Html` object containing*@
    @* * the page content. *@
    @* @content*@
    @* <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")"></script>*@
    @* <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" ></script>*@
    @* <script src="@routes.Assets.versioned("javascripts/muehle.js")"></script>*@
    @* </body>*@

        <head>
            <main>
            @* Here's where we render the page title `String`. *@
            <title>@title</title>
            <!-- Bootstrap CSS -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" >
            <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" >
            <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/Mill2.png")">

            <!--Navbar-->
                <nav class="navbar fixed-top navbar-custom bg-dark ">

                <!-- Navbar brand -->
                    <a class="navbar-brand" href="/">Nine Men's Morris <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bullseye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                        <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
                        <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg> </a>

                <!-- Collapse button -->
                <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
                        aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="animated-icon1"><span></span><span></span><span></span></div>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent20">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">HOME<span class="sr-only">(current)</span> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                            </svg> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/game">GAME <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-joystick" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.106 15.553L.553 12.276A1 1 0 0 1 0 11.382V9.471a1 1 0 0 1 .606-.89L6 6.269v1.088L1 9.5l5.658 2.83a3 3 0 0 0 2.684 0L15 9.5l-5-2.143V6.27l5.394 2.312a1 1 0 0 1 .606.89v1.911a1 1 0 0 1-.553.894l-6.553 3.277a2 2 0 0 1-1.788 0z"/>
                                <path fill-rule="evenodd" d="M7.5 9.5v-6h1v6h-1z"/>
                                <path d="M10 9.75c0 .414-.895.75-2 .75s-2-.336-2-.75S6.895 9 8 9s2 .336 2 .75zM10 2a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                                </svg> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/history">HISTORY <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hourglass-split" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0c0 .701.478 1.236 1.011 1.492A3.5 3.5 0 0 1 11.5 13s-.866-1.299-3-1.48V8.35z"/>
                            </svg> </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                This project on GitHub
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-code-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    <path fill-rule="evenodd" d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z"/>
                                </svg> </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="https://github.com/MacFarmer/de.htwg.wt.muehle" target="_blank">
                                    Nine Men's Morris</a>
                            </div>
                        </li>
                    </ul>
                    <!-- Links -->

                </div>
                <!-- Collapsible content -->

            </nav>
            <!--/.Navbar-->

    <textarea></textarea>
    </head>


    <img class="imagesBackground" src=@routes.Assets.versioned("images/back_web4.jpg")>

        @* And here's where we render the `Html` object containing
        * the page content. *@
        @content

        <script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" ></script>
        <script src="@routes.Assets.versioned("javascripts/muehle.js")"></script>

<body>

<div class="footer">© 2020 Copyright:
    <a href="https://github.com/MacFarmer/de.htwg.wt.muehle"> Marc Freibauer und Maurice Gutmann</a>
</div>

</body>
</main>

</html>
